---
title: Dayton Ruby Brigade
---

%section.home
  .skyline
    .row
      .twelve.columns.centered
        .banner.text-center
          = image_tag 'banner_plane@2x.png', width: '646', height: '77'
        .title.text-center
          = image_tag 'title.png', width: '611', height: '202'
        %h2.text-center
          Dayton.rb is a monthly gathering of local technologists who meet to
          talk about all things Ruby.
        %br/
        %br/

%section.banner
  .row
    .twelve.columns
      .two.mobile-twelve.columns.text-center
        = image_tag 'redflag@2x.png', width: 71, height: 69
      .ten.columns.message
        .row
          .eleven.columns
            %h4.capitalize.text-center
              Next Meeting:
              = link_to data.meetups.first.url, :rel => "external" do
                = data.meetups.first.time
                %i.foundicon-right-arrow

%section.manifesto
  .row
    .twelve.columns.centered
      .row
        .six.columns
          %h3.text-center About the Group
          %p
            We are group of programmers, students, and technology enthusiasts who are
            excited about the Ruby programming language and the Ruby on Rails
            web framework.
          %p
            We meet on the fourth Tuesday of every month to contribute to open
            source, work on personal projects, and present topics related to
            Ruby. All skill levels are welcome!

        .six.columns
          %h3.text-center Why Dayton.rb?
          %p
            We are excited with the growing Ruby crowd here in Dayton. The Ruby
            community is known for their sharing and collaboration, and
            we want to take an active role.
          %p
            Our goal is to create an environment where rubyist of
            all skill levels can learn and share ideas.

%section.calendar
  .row
    .twelve.columns.centered
      .row.text-center
        = image_tag 'beigeflag@2x.png', width: '71', height: '69'

      .row
        .six.columns
          %h3.text-center Where We Meet
          .map
            %p
              %strong
                = link_to "Littlelines HQ", "http://littlelines.com", :rel => 'external'
              %br/
              The Greene
              %br/
              50 Chestnut Street
              %br/
              Suite 224
              %br/
              Beavercreek, Ohio 45440
            %p
              = link_to_map image_tag( 'icon-locate@2x.png', width: 16, height: 21)
              = link_to_map "Get Directions"
        .six.columns.upcoming
          %h3.text-center Upcoming Events
          .row.event
            .two.columns.date
              %h4
                Jun
                %span
                  25
            .ten.columns.location
              %h5
                Dayton Ruby Brigade at
                = link_to_map "Littlelines HQ"

          .row.event
            .two.columns.date
              %h4
                Jul
                %span
                  23
            .ten.columns.location
              %h5
                Dayton Ruby Brigade at
                = link_to_map "Littlelines HQ"

          .row.event
            .two.columns.date
              %h4
                Aug
                %span
                  27
            .ten.columns.location
              %h5
                Dayton Ruby Brigade at
                = link_to_map "Littlelines HQ"

%section.connect
  .row
    .twelve.columns.centered
      .row
        .six.columns
          %h3
            Can I Join?
          %p
            Yes!
            = link_to "RSVP", data.meetups.first.url
            or just show up at our next meeting. Meetings are held on the fourth Tuesday of every month.
            You are not expected to be an expert, so relax and have fun.
            %i.foundicon-right-arrow
        .six.columns
          %h3
            Stay Connected With Us
          .row
            %br/
            .five.columns
              .row
                .five.columns.text-center.mobile-two
                  %a{:href => "https://twitter.com/daytonruby", :rel => "external"}
                    %span.ss-social-circle.ss-twitter
                      %div.hide-text Twitter
                .five.columns.text-center.mobile-two
                  %a{:href => "http://github.com/daytonrb", :rel => "external"}
                    %span.ss-social-circle.ss-octocat
                      %div.hide-text Github
